*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* FORMULÁRIO */
.container{
    width: 40%;
    background-color: #e6e3e3;
    border-radius: 10px;
    margin: 30px auto; 
    padding: 15px;
}

h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.inputs label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.inputs input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tipo_Combust{
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tipo_Combust label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #57b8b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem; 
}

/* LISTAGEM */
.lista{
    width: 40%;
    background-color: #e6e3e3;
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px;
}

/* CARDS DOS VEÍCULOS */
.card-veiculo{
    background: #ffffff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
}

.apagar{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 19rem;
}

.info{
    margin-top: -2.5rem;
}